.Card-container {
  --card-width: 200px;
  background: white;
  border: 1px solid black;
  border-radius: calc(var(--card-width) * 0.05);
  display: flex;
  flex-direction: column;
  font-family: 'Londrina Sketch';
  height: calc(var(--card-width) * 1.4);
  justify-content: space-between;
  text-align: center;
  width: calc(var(--card-width));
}

.Card-red {
  color: red;
}

.Card-black {
  color: black;
}

.Card-center {
  font-size: calc(var(--card-width) * 0.35)
}

.Card-corner-top, .Card-corner-bottom {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--card-width) * 0.125);
  justify-content: start;
  line-height: 150%;
  padding: 7px;
  text-align: center;
  width: min-content;
}

.Card-corner-top div:nth-child(1) {
  font-size:calc(var(--card-width) * 0.2)
}

.Card-corner-bottom div:nth-child(1) {
  font-size:calc(var(--card-width) * 0.2)
}

.Card-corner-bottom {
  align-self: flex-end;
  transform: rotate(180deg);
}
