.HitButton-container {
  text-align: center;
}

.HitButton-button {
  color: black;
  /* -webkit-text-fill-color: black; */
  -webkit-text-stroke: 1px white;
  cursor: pointer;
  width: auto;
  font-family: "Lily Script One";
  font-size: 5rem;
}

.HitButton-button:hover {
  color: red;
  /* -webkit-text-fill-color: red; */
}

.HitButton-button:active {
  color: black;
  -webkit-text-stroke: 1px red;
  transform: scale(1.1);


}
